<!DOCTYPE html>
<html>
	<head>
		<title>Index Page</title>
	</head>
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		
		<script type="text/javascript" src='{% static "js/jquery-1.11.3.min.js" %}'></script>

		<script type="text/javascript" src= '{% static "js/bootstrap.min.js" %}'></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
				<a href="/blog/" class="navbar-links">Home</a>
				
				<a href="/blog/login" class="navbar-links">Articles</a>
				{% if user.username%}
				<p class="navbar-text navbar-right">welcome  
					<a href="/blog/logout" class="navbar-link" style="color:#447e9b;">
						{{user.username}}
						<img src="{{ user_image.user_image.url }}" width="45px" height="35px"/>
						
					</a>
				</p>
				{%else%}
				<a href="/blog/login" class="navbar-links">Login</a>
				{% endif %}
		</nav>
		<div class='container'>
			<div class="section1 col-md-12">
				
			</div>
			<div class="section2 col-md-12">
				{{request.META.HTTP_REFERER}}

				{% for article in articles_tab1 %}
					<div class=" article col-md-6 col-xs-12">
						<div class=" inside-article col-md-11 col-xs-11">	
							<div class=" article_subject col-md-11 col-xs-11">{{article.article_subject}}
							</div>
							<div class=" article_description col-md-8 col-xs-8">{{ article.article_description }}
							</div>
							<div class=" article_image col-md-4 col-xs-4">
							<img src="{{ article.article_image.url }}"  />
							</div>
							<div class=" article_readmore col-md-8 col-xs-8">
								<form  class="form-inline" action='/blog/{{article.id}}/add' method="post">
									{% csrf_token %}
						  			<div class="form-group">
									    <!-- <label for="exampleInputEmail1">Add comment:</label> -->
									    <input type="text" class="form-control hidden "name="comments"  placeholder="Add Comment">
								  </div>
						   			<button type="submit" class="btn btn-primary">see more </button>
								</form>
							</div>
						</div>
					</div>
				{%endfor%}
				{% for article in articles_tab2 %}
				<div class=" article col-md-4 col-xs-12">
					<div class=" inside-article col-md-11 col-xs-11">
						<div class=" article_subject col-md-11 col-xs-11">{{article.article_subject}}
							</div>
							<div class=" article_description col-md-8 col-xs-8">{{ article.article_description }}
							</div>
							<div class=" article_image col-md-4 col-xs-4">
							<img src="{{ article.article_image.url }}" />
							</div>
							<div class=" article_readmore col-md-8 col-xs-8">
								<form  class="form-inline" action='/blog/{{article.id}}/add' method="post">
									{% csrf_token %}
						  			<div class="form-group">
									    <!-- <label for="exampleInputEmail1">Add comment:</label> -->
									    <input type="text" class="form-control hidden "name="comments"  placeholder="Add Comment">
								  </div>
						   			<button type="submit" class="btn btn-primary">see more </button>
								</form>
							</div>
						</div>
				</div>
				{%endfor%}
			</div>
			
		</div>
		<nav class="navbar navbar-default footer">
				
		</nav>
	</body>
</html>