<!DOCTYPE html>
<html>
<head>
	<title>	Details Page</title>
</head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<script type="text/javascript" src='{% static "js/jquery-1.11.3.min.js" %}'></script>

<script type="text/javascript" src= '{% static "js/bootstrap.min.js" %}'></script>
<style type="text/css">
	.content{
		display:-webkit-box;
	}
	.subject{
		-webkit-flex: 3;
		width:70%;
		
	}
	.image{
		-webkit-flex:1;
		margin-right:20px;
		margin-left:60px;
		
	}
	.edit{
		margin: 30px 0px;
	}
</style>
<body>
	<div class="container">
		<h2>separte page</h2>
		<ul>

		<!-- like -->
		<form  class="form-inline" action='/Blog/{{comment.id}}/add' method="post">
			{% csrf_token %}
  			<div class="form-group">
			    <!-- <label for="exampleInputEmail1">Add comment:</label> -->
			    <input type="text" class="form-control hidden "name="like"  placeholder="Add Comment">
		  </div>
   			<button type="submit" class="btn btn-primary">Like</button>
		</form>
		<br/>
		<!-- related article -->
		related :- 
		{% for art in rel_art %}
			1{{art.article_subject}}
			
		{%endfor%}
		{{ rel_art }}	
		</br>

		<p  align='center'class="text"><font color='red' size="10"><b> {{article.article_content}}(subject)</b></font><font color='brown' size='3'>NO of Views:{{article.article_views}}</font></p>
		<div class="content">
		<div class="subject">
		<p  align='center'class="text"></br>
			
			<b> {{article.article_subject}} </b> <hr/></p>
				 
			</div>
			<div class="image">
			<!-- <h3>image</h3> -->
			<img src="{{ article.article_image.url }}" width="300" height="300" class="img-responsive" alt="Responsive image" display= 'block' />
			</div>
			</div>
			<!-- {{ article.article_image.url }} -->
			</br>
			<font color='red' size="5"><b> Comments </b></font>
			
			{% for comment in comments %}
				<li>

				<pre>{{ comment.comment_content }}      </pre>

				<!-- Edit Comment -->
				{% if request.user == comment.comment_author %}

					<form  class="form-inline" action='/Blog/{{article.id}}/{{comment.id}}/editcomm' method="post">
						{% csrf_token %}
			  			<div class="form-group">
						    <input type="text" class="form-control" name="comments"  placeholder="Edit Comment">
						</div>
				   			<button type="submit" class="btn btn-default">Edit Comment</button>
					</form>
				{% endif %}
					
				
				</li>
			{%endfor%}
			
			</pre>


			<!-- Add Comment -->
				
			<div class="edit" >
				<form  class="form-inline" action='/Blog/{{article.id}}/add' method="post">
				{% csrf_token %}
		  			<div class="form-group">
					 <label >Add comment:</label>
					    <input type="textArea" class="form-control" name="comments"  placeholder="Add Comment">
				  	</div>
	   			<button type="submit" class="btn btn-default">add</button>
				</form>
				{% for comment in comments %}
				<form  class="form-inline" action='/Blog/{{article.id}}/add' method="post">
				{% csrf_token %}
		  			<div class="form-group">
					 <label >Add  Reply comment:</label>
					    <input type="textArea" class="form-control" name="comments"  placeholder="Add  Reply Comment">
				  	</div>
	   			<button type="submit" class="btn btn-default">add</button>
				</form>
							{%endfor%}

			</div>



			<!-- Edit Article -->
			<form  class="form-inline" action='/Blog/{{article.id}}/editart' method="post">
				{% csrf_token %}
				Edit Article
			   <input type="textArea" class="form-control" name="article"  placeholder="Enter Content you want to edit ">

				<button type="submit" class="btn btn-default">Edit</button>
			</form>	
			
				
			

		</ul>
	</div>
	
</body>
</html>