<!DOCTYPE html>
<html>
<head>
	<title>	Details Page</title>
</head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<script type="text/javascript" src='{% static "js/jquery-1.11.3.min.js" %}'></script>

<script type="text/javascript" src= '{% static "js/bootstrap.min.js" %}'></script>
<body>
	<div class='row'></div>
	<div class='row'>
	<div class='col-md-2'></div>
	<div class='col-md-6'>
	
	<form role='form' class='form-horizontal col-md-12' action='/Blog/auth/' method='post'>
			{% csrf_token %}

			<div class='form-group has-warning'>
				<label class='col-md-2'>Username</label>
				<div class='col-md-5 input-group'>
					<span class='input-group-addon'><i class='glyphicon glyphicon-user'></i></span>
					<input placeholder='Username' class='form-control' name='username' />
				</div>
			</div>	
			<div class='form-group has-warning'>
				<label class='col-md-2'>Password</label>
				<div class='col-md-5 input-group'>
					<span class='input-group-addon'><i class='glyphicon glyphicon-user'></i></span>
					<input placeholder='Password' class='form-control' name='password' type='password' />
				</div>
			</div>	
			<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-3">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div>
		  <input type="hidden" name="this_is_the_login_form" value="1" />
		  <p style="margin-left:114px;">
    <a href="/Blog/user/password/reset">Forgot password?</a>
</p>	
			<span class='col-md-2'></span>
			<input type='submit' class='col-md-3 btn btn-primary btn-lg' name='ok' value='Login' />
	</form>
		
</body>
</html>